<div class="device-detail-wrap" ng-controller="DeviceTabControlCtrl">

    <div class="b-b b-success padder-xs-v padder m-t-sm">
        <span class="text-danger">站点状态：</span>
        <span ng-if="sensor.online == 1" class="label label-success">在线，可以进行远程操作</span>
        <span ng-if="sensor && sensor.online == 2" class="label label-danger">离线，不能进行远程操作</span>
    </div>

    <div class="wrapper">

        <!-- 网络请求动画 -->
        <div cg-busy="{promise:loadDataPromise,message:'数据加载中...'}"></div>

        <div>

            <div class="m-b-sm">
                更新时间：{{sensor.update_time}}
            </div>

            <div class="row">

                <div class="col-sm-4" ng-repeat="item in sc">
                    <table class="table table-bordered">
                        <tr>
                            <td class="bg-info-only table-lebel">
                                <span class="inline w-xs">{{item.name}}</span>
                            </td>
                            <td class="text-center">
                                <span class="table-value inline w-xxs">
                                    <span ng-if="item.instance_type == 4104">{{item.onoff ? '故障' : '正常'}}</span>
                                    <span ng-if="item.instance_type == 4105">{{item.onoff ? '低' : '高'}}</span>
                                    <span ng-if="item.instance_type == 4106">{{item.onoff ? '开启' : '关闭'}}</span>
                                    <span ng-if="item.instance_type == 4107">{{item.onoff ? '没有报警' : '有报警'}}</span>
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>

        </div>

        <!--动力设备控制-->
        <div>

            <div class="m-b-sm">
                动力设备控制&nbsp;&nbsp;

                <div class="bootstrap-switch bootstrap-switch-wrapper bootstrap-switch-mini bootstrap-switch-animate m-l-sm"
                     style="width: 118px;"
                     ng-class="{'bootstrap-switch-on' : mc.onoff, 'bootstrap-switch-off': !mc.onoff, 'bootstrap-switch-readonly' : (sensor.online != 1 || mc.discontrol) }"
                     ng-click="onControl(mc)">
                    <div class="bootstrap-switch-container" style="width: 174px;"
                         ng-style="{'margin-left' : mc.onoff ? 0: -58 }">
                        <span class="bootstrap-switch-handle-on bootstrap-switch-primary" style="width: 58px;">远程控制</span><span class="bootstrap-switch-label" style="width: 58px;"><i class="fa fa-spinner" ng-class="{'fa-spin' : mc.label}" ng-show="mc.label"></i></span><span class="bootstrap-switch-handle-off bootstrap-switch-warning" style="width: 58px;">本地控制</span>
                    </div>
                </div>

                <div class="bootstrap-switch bootstrap-switch-wrapper bootstrap-switch-mini bootstrap-switch-animate m-l-sm"
                     style="width: 118px;"
                     ng-class="{'bootstrap-switch-on' : isShowingOnBoard, 'bootstrap-switch-off': !isShowingOnBoard, 'bootstrap-switch-readonly' : (!mc || mc.discontrol || !mc.onoff) }"
                     ng-click="onChangeShow()">
                    <div class="bootstrap-switch-container" style="width: 174px;"
                         ng-style="{'margin-left' : isShowingOnBoard ? 0: -58 }">
                        <span class="bootstrap-switch-handle-on bootstrap-switch-primary" style="width: 58px;">继电器</span><span class="bootstrap-switch-label" style="width: 58px;">&nbsp;</span><span class="bootstrap-switch-handle-off bootstrap-switch-warning" style="width: 58px;">PLC</span>
                    </div>
                </div>

            </div>

        </div>
        <!--动力设备控制-->

        <!--plc-->
        <table class="text-center table table-device-component">
            <thead>
            <tr>
                <th>序号</th>
                <th>设备名称</th>
                <th>当前状态</th>
                <th>电流值</th>
                <th>当日运行时间</th>
                <th>当月运行时间</th>
                <th>远程控制</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-if="!isShowingOnBoard" ng-repeat="row in cc"
                ng-class="{'row-count-2': $index %2 == 0, 'row-count-1': $index %2 != 0}">
                <td><i class="fa fa-calendar"></i> {{$index + 1}}</td>
                <td>{{row.name}}</td>
                <td>
                    <i class="fa fa-circle" ng-style="{'color': row.onoff ? (row.data.ref_status && row.data.ref_status.value < 0.1) ? '#FFE851' : '#03ff0b' : '#adabab'}"></i>
                    <span ng-if="row.onoff">
                        <span ng-if="!row.data.ref_status || row.data.ref_status.value >= 0.1" >开</span>
                        <span ng-if="row.data.ref_status && row.data.ref_status.value < 0.1" >异常</span>
                    </span>
                    <span ng-if="!row.onoff">关</span>
                </td>
                <td>{{row.data.ref_status.value}}</td>
                <td>{{row.cwtc.day}}</td>
                <td>{{row.cwtc.month}}</td>
                <td>
                    <div class="bootstrap-switch bootstrap-switch-wrapper bootstrap-switch-animate"
                         style="width: 78px;"
                         ng-class="{'bootstrap-switch-on' : row.onoff, 'bootstrap-switch-off': !row.onoff, 'bootstrap-switch-readonly' : (sensor.online != 1 || mc.discontrol || !mc.onoff || row.discontrol) }"
                         ng-click="onControl(row, sensor.online != 1 || mc.discontrol || !mc.onoff || row.discontrol)">
                        <div class="bootstrap-switch-container" style="width: 114px;"
                             ng-style="{'margin-left' : row.onoff ? 0: -38 }">
                            <span class="bootstrap-switch-handle-on bootstrap-switch-primary" style="width: 38px;">开</span><span class="bootstrap-switch-label" style="width: 38px;"><i class="fa fa-spinner" ng-class="{'fa-spin': row.label}" ng-show="row.label"></i></span><span class="bootstrap-switch-handle-off bootstrap-switch-warning" style="width: 38px;">关</span>
                        </div>
                    </div>
                </td>
            </tr>

            <tr ng-if="isShowingOnBoard" ng-repeat="or in oc"
                ng-class="{'row-count-2': $index %2 == 0, 'row-count-1': $index %2 != 0}">
                <td><i class="fa fa-tachometer"></i> {{$index + 1}}</td>
                <td>{{or.name}}</td>
                <td>
                    <i class="fa fa-circle" ng-style="{'color': or.onoff ? '#03ff0b' : '#adabab'}"></i>
                    <span ng-if="or.onoff">开</span>
                    <span ng-if="!or.onoff">关</span>
                </td>
                <td>{{or.data.ref_status.value}}</td>
                <td>{{or.cwtc.day}}</td>
                <td>{{or.cwtc.month}}</td>
                <td>
                    <div class="bootstrap-switch bootstrap-switch-wrapper bootstrap-switch-animate"
                         style="width: 78px;"
                         ng-class="{'bootstrap-switch-on' : or.onoff, 'bootstrap-switch-off': !or.onoff, 'bootstrap-switch-readonly' : (sensor.online != 1 || mc.discontrol || !mc.onoff || or.discontrol) }"
                         ng-click="onControl(or, sensor.online != 1 || mc.discontrol || !mc.onoff || or.discontrol)">
                        <div class="bootstrap-switch-container" style="width: 114px;"
                             ng-style="{'margin-left' : or.onoff ? 0: -38 }">
                            <span class="bootstrap-switch-handle-on bootstrap-switch-primary" style="width: 38px;">开</span><span class="bootstrap-switch-label" style="width: 38px;"><i class="fa fa-spinner" ng-class="{'fa-spin': or.label}" ng-show="or.label"></i></span><span class="bootstrap-switch-handle-off bootstrap-switch-warning" style="width: 38px;">关</span>
                        </div>
                    </div>
                </td>
            </tr>

            </tbody>
        </table>
        <!--plc-->

    </div>

    <div class="wrapper">

        <div class="panel panel-default">

            <div class="panel-heading">

                <form class="form-inline" role="form">
                    <div class="form-group">
                        <label>设备运行统计</label>
                    </div>
                    <div class="form-group m-l no-m-xs">
                        <label for="startTime">起止时间：</label>
                        <input id="startTime" class="form-control" type="date" ng-model="filter.startDate">
                    </div>
                    <div class="form-group">
                        <label for="endTime">&nbsp;&nbsp;--&nbsp;&nbsp;</label>
                        <input id="endTime" class="form-control" type="date" ng-model="filter.endDate">
                    </div>
                    <button type="button" class="btn btn-info btn-sm w-xs m-l no-m-xs" ng-click="filterQuery()">
                        查询
                    </button>
                    <a class="btn btn-success btn-sm w-xs m-l no-m-xs"
                       target="_blank"
                       ng-href="/app/cencus/component/work/export?id={{$stateParams.id}}&start={{filter.startDate.getTime()}}&end={{filter.endDate.getTime()}}">
                        输出报表
                    </a>
                </form>

            </div>

            <div class="panel-body scroll-x">
                <!-- 网络请求动画 -->
                <div cg-busy="{promise:cencusDataPromise,message:'数据加载中...'}"></div>
                <!-- 网络请求动画 -->

                <table st-table="rowCollectionBasic" class="table table-bordered table-striped tb-border">
                    <thead>
                    <tr>
                        <th>日期</th>
                        <th>市电供电故障次数</th>
                        <th>日用电量</th>
                        <th>日处水量</th>
                        <th ng-repeat="h in filter.data.titles.hwl">高液位次数({{h}})</th>
                        <th ng-repeat="w in filter.data.titles.wt">{{w}}运行时间</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="success" ng-repeat="key in filter.data.keys" st-select-row="row">
                        <td>{{key}}</td>
                        <td>{{filter.data.values[key].mol}}</td>
                        <td>{{filter.data.values[key].el}}</td>
                        <td>{{filter.data.values[key].hwt}}</td>
                        <th ng-repeat="h in filter.data.titles.hwl">{{filter.data.values[key].hwl[h]}}</th>
                        <th ng-repeat="w in filter.data.titles.wt">{{filter.data.values[key].wt[w]}}</th>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>