<div class="device-detail-wrap">

    <div class="b-b b-success padder-xs-v padder m-t-sm">
        <span class="text-danger">站点状态：</span>
        <span ng-if="sensor.online == 1" class="label label-success">在线，可以进行远程操作</span>
        <span ng-if="sensor && sensor.online == 2" class="label label-danger">离线，不能进行远程操作</span>
    </div>

    <div class="wrapper">

        <!-- 网络请求动画 -->
        <div cg-busy="{promise:loadDataPromise,message:'数据加载中...'}"></div>

        <div>

            <div class="m-b-sm">
                更新时间：{{sensor.update_time}}
            </div>

            <div class="row">

                <div class="col-sm-4" ng-repeat="item in sc">
                    <table class="table table-bordered">
                        <tr>
                            <td class="bg-info-only table-lebel">
                                <span class="inline w-xs">{{item.name}}</span>
                            </td>
                            <td class="text-center">
                                <span class="table-value inline w-xxs">
                                    <span ng-if="item.instance_type == 4104">{{item.onoff ? '故障' : '正常'}}</span>
                                    <span ng-if="item.instance_type == 4105">{{item.onoff ? '低' : '高'}}</span>
                                    <span ng-if="item.instance_type == 4106">{{item.onoff ? '开启' : '关闭'}}</span>
                                    <span ng-if="item.instance_type == 4107">{{item.onoff ? '没有报警' : '有报警'}}</span>
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>

        </div>

        <!--动力设备控制-->
        <div>

            <div class="m-b-sm">
                动力设备控制
            </div>

        </div>
        <!--动力设备控制-->

        <table class="text-center table table-device-component">
            <thead>
            <tr>
                <th>序号</th>
                <th>设备名称</th>
                <th>当前状态</th>
                <th>电流值</th>
                <th>当日运行时间</th>
                <th>当月运行时间</th>
                <th>远程控制</th>
            </tr>
            </thead>
            <tbody>
            <tr class="row-count-1" ng-if="mc">
                <td>1</td>
                <td>{{mc.name}}</td>
                <td>
                    <i class="fa fa-power-off" ng-style="{'color': mc.onoff ? '#428bca' : '#f0ad4e'}"></i>
                    <span ng-if="mc.onoff">远程控制</span>
                    <span ng-if="!mc.onoff">本地控制</span>
                </td>
                <td>{{mc.data.ref_status.value |number:4}}</td>
                <td></td>
                <td></td>
                <td>
                    <input bs-switch
                           ng-model="mc.onoff"
                           type="checkbox"
                           switch-off-color="warning"
                           switch-label="{{mc.label}}"
                           switch-readonly="{{mc.discontrol}}"
                           switch-on-text="远程控制"
                           switch-off-text="本地控制"
                           switch-change="onControl(mc)">
                </td>
            </tr>
            <tr ng-repeat="row in cc"
                ng-class="{'row-count-2': $index %2 == 0, 'row-count-1': $index %2 != 0}">
                <td>{{$index + (mc ? 1 : 2)}}</td>
                <td>{{row.name}}</td>
                <td>
                    <i class="fa fa-power-off" ng-style="{'color': row.onoff ? '#428bca' : '#f0ad4e'}"></i>
                    <span ng-if="row.onoff">开</span>
                    <span ng-if="!row.onoff">关</span>
                </td>
                <td>{{row.data.ref_status.value |number:4}}</td>
                <td></td>
                <td></td>
                <td>
                    <input
                            bs-switch
                            ng-model="row.onoff"
                            type="checkbox"
                            switch-off-color="warning"
                            switch-label="{{row.label}}"
                            switch-readonly="{{ sensor.online != 1 || mc.discontrol || !mc.onoff || row.discontrol }}"
                            switch-on-text="开"
                            switch-off-text="关"
                            switch-change="onControl(row)">
                </td>
            </tr>
            </tbody>
        </table>

    </div>

</div>