<div ng-init="init()">
    <!--<div class="content-header text-center" style="position: fixed;top: 50px;height: 32px;background-color: #ccc;width: 100%;">-->
    <!--<span>设备列表</span>-->
    <!--</div>-->
    <div class="app-container">
        <div class="row">

            <!-- 排行榜 -->
            <div class="col-lg-6 padder-sm-v pull-in m-l-sm no-m-sm no-m-xs"
                 ng-class="{'hide' : app.settings.mapScaleMax}">

                <div class="sub-title">
                    <div class="title-wrapper"
                         style="max-width: 200px;padding-bottom: 5px;border-bottom: 2px solid #00ee00;">
                        <span class="title"
                              style="font-family: '黑体 Oblique', '黑体 Regular', '黑体';font-weight: 400;font-style: oblique;margin-right: 20px;">污水处理排行榜</span>
                        <div class="btn-group btn-group-xs" ng-init="radioModel = '周'">
                            <label class="btn btn-danger ng-pristine ng-untouched ng-valid"
                                   ng-model="radioModel"
                                   btn-radio="'周'">周</label>
                            <label class="btn btn-danger ng-pristine ng-untouched ng-valid"
                                   ng-model="radioModel"
                                   btn-radio="'月'">月</label>
                            <label class="btn btn-danger ng-pristine ng-untouched ng-valid active"
                                   ng-model="radioModel"
                                   btn-radio="'年'">年</label>
                        </div>
                    </div>
                </div>

                <div class="row"
                     style="padding: 5px 5px 10px 5px;margin: 5px 5px 10px 5px;border-bottom: 1px dashed #00A000;">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 no-padder-xs no-padder-sm">
                        <div class="center-block dirty-water-item" style="padding: 10px 10px 0;max-width: 120px;">
                            <div class="text-center bg-light-gray-only b b-gray b-10-t"
                                 style="border-top-color: #00aa00">
                                <div class="t-index-wrapper">
                                    <span class="index">1</span>
                                </div>
                                <div class="padder-5-b">
                                    <div class="index-total text-danger">64.5吨</div>
                                    <div class="index-name">
                                        麦加三号站
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 no-padder-xs no-padder-sm">
                        <div class="center-block dirty-water-item" style="padding: 10px 10px 0;max-width: 120px;">
                            <div class="text-center"
                                 style="background-color: #dfdfdf;border: 1px solid #ccc;border-top: 10px solid #00aa00;">
                                <div class="index-wrapper"
                                     style="width: 30px;height: 30px;border-radius: 15px;background-color: #00A000;margin-left: -20px;margin-top: -20px;">
                                    <span class="index"
                                          style="height: 30px;line-height: 30px;display: block;font-size: 16px;color: #FFF;">2</span>
                                </div>
                                <div class="card-block" style="padding-bottom: 5px;">
                                    <div class="card-text" style="font-size: 23px;color: #f40;margin-top: -7px;">43.4吨
                                    </div>
                                    <div class="card-text" style="font-size: 14px;margin-top: -3px;color: #3c510c;">
                                        麦加四号站
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 no-padder-xs no-padder-sm">
                        <div class="center-block dirty-water-item" style="padding: 10px 10px 0;max-width: 120px;">
                            <div class="text-center"
                                 style="background-color: #dfdfdf;border: 1px solid #ccc;border-top: 10px solid #00aa00;">
                                <div class="index-wrapper"
                                     style="width: 30px;height: 30px;border-radius: 15px;background-color: #00A000;margin-left: -20px;margin-top: -20px;">
                                    <span class="index"
                                          style="height: 30px;line-height: 30px;display: block;font-size: 16px;color: #FFF;">3</span>
                                </div>
                                <div class="card-block" style="padding-bottom: 5px;">
                                    <div class="card-text" style="font-size: 23px;color: #f40;margin-top: -7px;">43.15吨
                                    </div>
                                    <div class="card-text" style="font-size: 14px;margin-top: -3px;color: #3c510c;">
                                        麦加一号站
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--告警通知 -->
                <div class="emegency-wrapper">
                    <div class="bg-warning" style="padding: 5px;width: 70px;">
                        <span class=" text-danger">告警通知</span>
                    </div>
                    <div class="bg-gd-only wrapper-sm">
                        <div class="row">
                            <div class="col-xs-9 col-xs-9 col-sm-9 col-md-9 col-lg-9">2016.07.28 17:34泖港镇吴桥站视频中断。</div>
                            <div class="col-xs-3 col-xs-3 col-sm-3 col-md-3 col-lg-3 text-danger">待处理</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-9 col-xs-9 col-sm-9 col-md-9 col-lg-9">2016.07.28 12:23罗松镇张家站水质异常。</div>
                            <div class="col-xs-3 col-xs-3 col-sm-3 col-md-3 col-lg-3 text-primary">已处理</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-9 col-xs-9 col-sm-9 col-md-9 col-lg-9">2016.07.28 11:34赵巷镇吴桥站视频中断。</div>
                            <div class="col-xs-3 col-xs-3 col-sm-3 col-md-3 col-lg-3 text-danger">待处理</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-offset-9 col-sm-offset-9 col-md-offset-9 col-lg-offset-9 col-xs-3 col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                <button class="btn btn-info btn-xs">更&nbsp;&nbsp;多</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--告警通知 -->

            </div>
            <!-- 排行榜 -->

            <!-- 地图信息 -->
            <div class="col-lg-6 map-wrapper">
                <div id="map_canvas"
                     class="wrapper-sm m-l-sm m-r-sm b b-a b-r-2x b-gray no-m-sm no-m-xs"
                     style="min-height:269px;margin-top: 13px; margin-bottom: 5px;"
                     ui-baidu-map="myMap"
                     ui-event="{'map-click': 'onMapClick($event, $params)', 'map-loaded': 'onMapLoaded($event, $params)'}"
                     ui-options="mapOptions">
                </div>

                <div class="map-scale-btn-wrapper"
                     style="position: absolute;top: 13px;right: 25px;width: 30px;height: 30px;padding: 6px 6px; border:1px solid #ccc; box-shadow: #ddd;"
                     ng-click="toggleMapScale()">
                    <i style="font-size: 16px;"
                       ng-class="{'icon-size-fullscreen': !app.settings.mapScaleMax, 'icon-size-actual': app.settings.mapScaleMax}"></i>
                </div>

                <!-- modal -->
                <script type="text/ng-template" id="mapModalContent.html">
                    <div ng-include="'tpl/map_modal.html'"></div>
                </script>
                <!-- /modal -->
            </div>
            <!-- 地图信息 -->

        </div>

    </div>

    <div class="app-data-list" ng-class="{'hide' : app.settings.mapScaleMax}">
        <div class="data-header m-l-sm m-r-sm" ng-init="dataListType = '类型'">
            <div class="hidden-xs btn-group">
                <label class="btn btn-gray ng-pristine ng-untouched ng-valid"
                       ng-model="dataListType"
                       btn-radio="'类型'">类型</label>
                <label class="btn btn-gray ng-pristine ng-untouched ng-valid"
                       ng-model="dataListType"
                       btn-radio="'状态'">状态</label>
            </div>
            <div class="visable-xs hidden-sm hidden-md hidden-lg btn-group btn-group-xs m-t-xs">
                <label class="btn btn-gray ng-pristine ng-untouched ng-valid"
                       ng-model="dataListType"
                       btn-radio="'类型'">类型</label>
                <label class="btn btn-gray ng-pristine ng-untouched ng-valid"
                       ng-model="dataListType"
                       btn-radio="'状态'">状态</label>
            </div>
            <div class="hide data-filter">
                <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked> 周
                </label>
                <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> 月
                </label>
                <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> 年
                </label>
            </div>
        </div>

        <div class="data-content padder-sm">
            <div ng-repeat="device in virtualSensors" class="data-item-wrapper bg-light-gray1-only"
                 ng-class="{'bg-light-gray2-only': $index % 2 != 0}">
                <div class="row">
                    <div class="col-xs-4">
                        <p class="data-property"><span>设备名称：</span>
                            <span style="color: #f40;">{{device.sensor.name}}</span>
                        </p>
                    </div>
                    <div class="col-xs-4">
                        <p class="data-property">设备编号：<span class="cb">{{device.sensor.internal_id}}</span></p>
                    </div>
                    <div class="col-xs-4">
                        <p class="data-property">更新时间：<span class="cb">{{device.sensor.flowmeter_data.time}}</span></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <p class="data-property">设备状态：<span class="cb">正常</span></p>
                    </div>
                    <div class="col-xs-4">
                        <p class="data-property">站点类型：<span class="cb">{{device.sensor.station_type}}</span></p>
                    </div>
                    <div class="col-xs-4">
                        <a ui-sref="app.device.tab.info({id:device.sensor.sensor_id, device: device.sensor})"
                           class="btn btn-success btn-xs w-xs">&nbsp;&nbsp;详&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;情&nbsp;&nbsp;</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>