<!--视频监控-->
<div class="padder-sm m-b-md">
    <div class="panel panel-default">
        <div class="row pd5">
            <!-- 网络请求动画 -->
            <div cg-busy="{promise:loadDataPromise,message:'数据加载中...'}"></div>
            <!-- 网络请求动画 -->

            <div class="col-sm-9 col-lg-9 wrapper-md">
                <div>
                    <rzslider rz-slider-model="slider.index"
                              rz-slider-options="slider.options">
                    </rzslider>
                </div>

                <!-- carousel -->
                <div class="panel b-a" set-ng-animate="false">
                    <carousel interval="imageListSlideInterval">
                        <slide ng-repeat="row in imageList" active="imageactive">
                            <span>{{row.time}}</span>
                            <img ng-src="{{imageUrl + row._id}}" class="img-full">
                        </slide>
                    </carousel>
                </div>
                <!-- / carousel -->
            </div>

            <div class="col-sm-3 col-lg-3">

                <p class="item dash-border-right b-b-dashed b-success m-md text-center">
                    <span class="inline w-xs"
                          style="font-weight: 700;font-style: normal;font-size: 15px;color: #009933;">
                        照片信息
                    </span>
                </p>
                <p class="item dash-border-right b-b-dashed b-success m-md">
                    <span class="inline w-xs">拍摄时间：</span>
                    <span class="cb">{{imageList[imageactive].time}}</span>
                </p>
                <p class="item dash-border-right b-b-dashed b-success m-md">
                    <span class="inline w-xs">拍摄类型：</span>
                    <span class="cb">
                        <span ng-if="imageList[imageactive].capture_type === 0">远程抓拍</span>
                        <span ng-if="imageList[imageactive].capture_type === 1">定时抓拍</span>
                        <span ng-if="imageList[imageactive].capture_type === 2">触发抓拍</span>
                    </span>
                </p>
                <p class="item dash-border-right b-b-dashed b-success m-md">
                    <span class="inline w-xs">设备编号：</span>
                    <span class="cb">{{imageList[imageactive].image_id}}</span>
                </p>

                <button ng-click="takepick()" class="img-full btn btn-success">拍照</button>
            </div>

        </div>
    </div>
</div>
<!--视频监控-->