.app-container {
  height: 320px;
}
.app-container .map-wrapper {
  height: 300px;
}
.app-container .info-wrapper {
  height: 300px;
  overflow: hidden;
}
.app-container .info-wrapper .info-title {
  padding-bottom: 5px;
  border-bottom: 2px solid #00ee00;
  float: left;
  font-family: '黑体 Oblique', '黑体 Regular', '黑体';
  font-weight: 400;
  font-style: oblique;
}
.app-container .info-wrapper .info-filter ul {
  float: left;
  list-style: none;
  -webkit-padding-start: 20px;
}
.app-container .info-wrapper .info-filter ul li {
  float: left;
  background-color: #ccc;
}
.app-container .info-wrapper .info-filter ul li.active,
.app-container .info-wrapper .info-filter ul li:hover {
  background-color: #FF0000;
}
.app-container .info-wrapper .info-filter ul li.active a,
.app-container .info-wrapper .info-filter ul li:hover a {
  color: #fff;
}
.app-container .info-wrapper .info-filter ul li a {
  padding: 0 5px;
}
.app-container .info-wrapper .info-bd-btm {
  padding-bottom: 10px;
  border-bottom: 1px dashed #00A000;
}
.app-container .info-wrapper .content-wrapper {
  clear: both;
  padding-top: 10px;
  padding-bottom: 5px;
}
.app-container .info-wrapper .content-wrapper .thumbnail-wrapper {
  width: 98px;
  height: 76px;
  padding: 0 5px;
  background-color: #dfdfdf;
  border: 1px solid #ccc;
  border-top: 10px solid #00aa00;
  text-align: center;
  float: left;
  margin: 10px 25px;
}
.app-container .info-wrapper .content-wrapper .thumbnail-wrapper .index-wrapper {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #00A000;
  margin-left: -20px;
  margin-top: -20px;
}
.app-container .info-wrapper .content-wrapper .thumbnail-wrapper .thumbnail-index {
  height: 30px;
  line-height: 30px;
  display: block;
  font-size: 18px;
  color: #FFF;
}
.app-container .info-wrapper .content-wrapper .thumbnail-wrapper .thumbnail-content {
  font-size: 23px;
  color: #f40;
}
.app-container .info-wrapper .content-wrapper .thumbnail-wrapper .thumbnail-position {
  font-size: 14px;
  margin-top: -3px;
  color: #3c510c;
}
.app-container .info-wrapper .content-wrapper .emegency-wrapper {
  margin-top: 10px;
}
.app-container .info-wrapper .content-wrapper .emegency-wrapper .emegency-title {
  background-color: orange;
  color: blue;
  padding: 5px 5px;
}
.app-container .info-wrapper .content-wrapper .emegency-wrapper .emegency-content {
  margin-top: 5px;
  background-color: #dfdfdf;
  padding: 5px;
  border-radius: 5px;
}
.app-data-list {
  background-color: #efefef;
}
.app-data-list .data-header {
  position: relative;
  background-color: #dfdfdf;
  display: block;
  height: 40px;
}
.app-data-list .data-header .data-menu ul {
  list-style: none;
  -webkit-padding-start: 0;
  display: block;
}
.app-data-list .data-header .data-menu ul li {
  float: left;
  padding: 0 5px;
  display: block;
}
.app-data-list .data-header .data-menu ul li.active,
.app-data-list .data-header .data-menu ul li:hover {
  background-color: #ccc;
}
.app-data-list .data-header .data-menu ul li.active a,
.app-data-list .data-header .data-menu ul li:hover a {
  color: #f40;
}
.app-data-list .data-header .data-menu ul li a {
  padding: 10px 5px;
  display: block;
  color: blue;
}
.app-data-list .data-header .data-filter {
  position: absolute;
  right: 10px;
  top: 10px;
}
.app-data-list .data-item-wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
}
.app-data-list .data-item-wrapper .data-content {
  padding: 10px;
}
.app-data-list .data-item-wrapper .data-content .data-property {
  margin: 0 0 20px;
}
