<div ng-controller="ManageDeviceCtrl">

    <div class="panel">
        <div class="panel-heading b-b b-success wrapper-xs">

            <div class="row">
                <div class="col-sm-2">
                    <h5 class="m-xxs l-h-2x">
                        <span class="text-primary">站点列表</span>
                    </h5>
                </div>
                <div class="col-sm-10">
                    <div class="pull-right">
                        <button class="btn btn-info btn-sm btn-addon w-xs-xs" ng-click="addDevice()">
                            <i class="fa fa-plus hidden-xs"></i>
                            增加站点
                        </button>
                        <button class="btn btn-success btn-sm btn-addon w-xs-xs"
                                ng-class="{'disabled': null == selectDevice}"
                                ng-click="editDevice()">
                            <i class="fa fa-edit hidden-xs"></i>
                            编辑站点
                        </button>
                        <button class="btn btn-danger btn-sm btn-addon w-xs-xs"
                                ng-class="{'disabled': null == selectDevice}"
                                ng-click="delDevice()">
                            <i class="fa fa-trash-o hidden-xs"></i>
                            删除站点
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix panel-body scroll-x">
            <table st-table="rowCollectionBasic" class="table table-bordered table-striped tb-border">
                <thead>
                <tr>
                    <th>#</th>
                    <th>站点名称</th>
                    <th>站点类型</th>
                    <th>日处水能力</th>
                    <th>投产时间</th>
                    <th>管理员</th>
                    <th>联系电话</th>
                    <th>设备地址</th>
                    <th>设备描述</th>
                    <th>区域归属</th>
                </tr>
                </thead>
                <tbody>
                <tr class="success cursor-pointer" st-select-row="row"
                    ng-repeat="item in devices"
                    ng-click="toggleSelectDevice(item)">
                    <th>
                        <label class="checkbox i-checks m-n">
                            <input type="checkbox"
                                   ng-checked="item.sensor_id === selectDevice.sensor_id"
                                   ng-click="toggleSelectDevice(item)">
                            <i></i>
                        </label>
                    </th>
                    <td>{{item.name}}</td>
                    <td>{{item.station_type}}</td>
                    <td>{{item.day_deal_water_ability}}</td>
                    <td>{{item.setup_date}}</td>
                    <td>{{item.admin}}</td>
                    <td>{{item.contact}}</td>
                    <td>{{item.address}}</td>
                    <td>{{item.desc}}</td>
                    <td>{{item.departmentName}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- add employee_id modal -->
<script type="text/ng-template" id="confirmModalContent.html">
    <div ng-include="'tpl/modal/confirm_modal.html'"></div>
</script>
<!-- add employee_id modal -->