<div class="device-detail-wrap">

    <div class="b-b b-success padder-xs-v padder m-t-sm">
        <span class="text-danger">站点状态：</span>
        <span ng-if="sensor.online == 1" class="label label-success">在线，可以进行远程操作</span>
        <span ng-if="sensor.online == 2" class="label label-danger">离线，不能进行远程操作</span>
    </div>

    <div class="wrapper">

        <!-- 网络请求动画 -->
        <div cg-busy="{promise:loadDataPromise,message:'数据加载中...'}"></div>

        <div>

            <div class="m-b-sm">
                更新时间：2016年09月20日11:14
            </div>

            <div class="row">

                <!--市电供电-->
                <div class="col-sm-4">
                    <table class="table table-bordered">
                        <tr>
                            <td class="bg-info-only table-lebel">市电供电</td>
                            <td class="text-center"><span class="table-value inline w-xxs">正常</span></td>
                        </tr>
                    </table>
                </div>
                <!--市电供电-->

                <!--正常液位-->
                <div class="col-sm-4">
                    <table class="table table-bordered">
                        <tr>
                            <td class="bg-info-only table-lebel">正常液位</td>
                            <td class="text-center"><span class="table-value inline w-xxs">高</span></td>
                        </tr>
                    </table>
                </div>
                <!--正常液位-->

                <!--应急液位-->
                <div class="col-sm-4">
                    <table class="table table-bordered">
                        <tr>
                            <td class="bg-info-only table-lebel">应急液位</td>
                            <td class="text-center"><span class="table-value inline w-xxs">低</span></td>
                        </tr>
                    </table>
                </div>
                <!--应急液位-->

                <!--门禁开关-->
                <div class="col-sm-4">
                    <table class="table table-bordered">
                        <tr>
                            <td class="bg-info-only table-lebel">门禁开关</td>
                            <td class="text-center"><span class="table-value inline w-xxs">开启</span></td>
                        </tr>
                    </table>
                </div>
                <!--门禁开关-->

                <!--红外报警-->
                <div class="col-sm-4">
                    <table class="table table-bordered">
                        <tr>
                            <td class="bg-info-only table-lebel">红外报警</td>
                            <td class="text-center"><span class="table-value inline w-xxs">非法闯入</span></td>
                        </tr>
                    </table>
                </div>
                <!--红外报警-->

            </div>

        </div>

        <!--动力设备控制-->
        <div>

            <div class="m-b-sm">
                动力设备控制
            </div>

        </div>
        <!--动力设备控制-->

        <table class="text-center table table-device-component">
            <thead>
            <tr>
                <th>序号</th>
                <th>设备名称</th>
                <th>当前状态</th>
                <th>当日运行时间</th>
                <th>当月运行时间</th>
                <th>远程控制</th>
            </tr>
            </thead>
            <tbody>
            <tr class="row-count-1">
                <td>1</td>
                <td>{{object.mc.name}}</td>
                <td>
                    <i class="fa fa-power-off"
                       ng-class="{'text-success': object.mc.status === 'NORMAL', 'text-danger' :object.mc.status != 'NORMAL'}"></i>
                    <span ng-if="object.mc.status === 'NORMAL'">正常</span>
                    <span ng-if="object.mc.status != 'NORMAL'">异常</span>
                </td>
                <td></td>
                <td></td>
                <td>
                    <input bs-switch
                           ng-model="object.mc.onoff"
                           type="checkbox"
                           switch-off-color="warning"
                           switch-label="{{object.mc.label}}"
                           switch-readonly="{{object.mc.discontrol}}"
                           switch-on-text="远程控制"
                           switch-off-text="本地控制"
                           switch-change="onControl(object.mc)">
                </td>
            </tr>
            <tr ng-repeat="row in object.cc"
                ng-class="{'row-count-2': $index %2 == 0, 'row-count-1': $index %2 != 0}">
                <td>{{$index + 2}}</td>
                <td>{{row.name}}</td>
                <td>
                    <i class="fa fa-power-off"
                       ng-class="{'text-success': row.status === 'NORMAL', 'text-danger' :row.status != 'NORMAL'}"></i>
                    <span ng-if="row.status === 'NORMAL'">正常</span>
                    <span ng-if="row.status != 'NORMAL'">异常</span>
                </td>
                <td></td>
                <td></td>
                <td>
                    <input
                            bs-switch
                            ng-model="row.onoff"
                            type="checkbox"
                            switch-off-color="warning"
                            switch-label="{{row.label}}"
                            switch-readonly="{{ sensor.online != 1 || row.discontrol }}"
                            switch-on-text="开"
                            switch-off-text="关"
                            switch-change="onControl(row)">
                </td>
            </tr>
            </tbody>
        </table>

    </div>

</div>