<div ng-controller="EmployeeDutyCtrl" class="wrapper-sm">
    <div class="panel panel-default">
        <div class="panel-body wrapper-xs">

            <!-- 网络请求动画 -->
            <div cg-busy="{promise:loadDataPromise,message:'数据加载中...'}"></div>
            <!-- 网络请求动画 -->

            <form class="form-horizontal form-validation">
                <!--基本信息-->
                <div>
                    <!--标题-->
                    <div class="b-b b-success padder-4-b m-b-sm">
                        <span class="b-b b-success b-5x">&nbsp;&nbsp;&nbsp;&nbsp;基本信息&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    </div>
                    <!--标题-->

                    <div class="wrapper-xs">
                        <table class="dark-bd-table table table-bordered">
                            <tr>
                                <td class="bg-light-gray2-only w-sm text-right">职能类型</td>
                                <td>
                                    <select class="form-control"
                                            ng-model="duty.type"
                                            required>
                                        <option value="">请选择职能类型</option>
                                        <option value="1" ng-selected="duty.type == 1">巡检员</option>
                                        <option value="2" ng-selected="duty.type == 2">核查人员</option>
                                        <option value="3" ng-selected="duty.type == 3">工程人员</option>
                                    </select>
                                </td>
                            </tr>
                            <tr ng-if="duty.type == 1">
                                <td class="w-sm text-right">设备类型</td>
                                <td>
                                    <select class="form-control"
                                            ng-model="duty.device.type"
                                            required>
                                        <option value="">请选择职能类型</option>
                                        <option value="1" ng-selected="duty.device.type == 1">巡检手机</option>
                                        <option value="2" ng-selected="duty.device.type == 2">巡检卡</option>
                                    </select>
                                </td>
                            </tr>
                            <tr ng-if="duty.type == 1">
                                <td class="bg-light-gray2-only w-sm text-right">设备型号</td>
                                <td>
                                    <input type="text" class="form-control" placeholder="请输入设备型号"
                                           ng-model="duty.model" required>
                                </td>
                            </tr>
                            <tr ng-if="duty.type == 1">
                                <td class="w-sm text-right">通道号</td>
                                <td>
                                    <input type="text" class="form-control" placeholder="请输入通道号"
                                           ng-model="duty.channel" required>
                                </td>
                            </tr>
                            <tr ng-if="duty.type == 1">
                                <td class="bg-light-gray2-only w-sm text-right">设备号</td>
                                <td>
                                    <input type="text" class="form-control" placeholder="请输入设备号"
                                           ng-model="duty.deviceid" required>
                                </td>
                            </tr>
                            <tr ng-if="duty.type == 1">
                                <td class="w-sm text-right">SIM卡</td>
                                <td>
                                    <input type="text" class="form-control" placeholder="请输入SIM卡"
                                           ng-model="duty.sim" required>
                                </td>
                            </tr>
                            <tr ng-if="duty.type == 1">
                                <td class="bg-light-gray2-only w-sm text-right">发放日期</td>
                                <td>
                                    <input type="text" class="form-control" placeholder="请输入发放日期"
                                           ng-model="duty.time" required>
                                </td>
                            </tr>

                        </table>
                    </div>

                </div>
                <!--基本信息-->

                <!--负责站点-->
                <div ng-if="duty.type == 1">

                    <!--标题-->
                    <div class="b-b b-primary padder-4-b m-b-sm">
                        <span class="b-b b-primary b-5x">&nbsp;&nbsp;&nbsp;&nbsp;负责站点&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    </div>
                    <!--标题-->

                    <div class="col">
                        <div class="col-sm-6">
                            <div class="b-a bd-info-dk-only" style="height: 300px;">
                                asdfasdf
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div id="map_canvas"
                                 class="b b-a b-gray"
                                 style="height:300px;"
                                 ui-baidu-map="myMap"
                                 ui-event="{'map-click': 'onMapClick($event, $params)', 'map-loaded': 'onMapLoaded($event, $params)'}"
                                 ui-options="mapOptions">
                            </div>
                        </div>
                    </div>

                </div>
                <!--负责站点-->

                <div>
                    <div class="inline divider b-b m-b"></div>
                    <div class="row no-m-xs">
                        <div class="col-sm-offset-8 col-md-offset-9 pull-right-xs">
                            <button type="button" class="btn btn-info w-xsm">取消</button>
                            <button type="button" class="btn btn-info w-xsm">保存</button>
                        </div>
                    </div>
                </div>

            </form>


        </div>

    </div>
</div>