<div ng-controller="EmployeeCtrl" class="wrapper-sm">
    <div class="panel">
        <div class="panel-heading b-b b-success wrapper-xs">

            <div class="row">
                <div class="col-sm-2">
                    <h5 class="m-xxs l-h-2x">
                        <span class="text-primary">员工列表</span>
                    </h5>
                </div>
                <div class="col-sm-10">
                    <div class="pull-right">
                        <button class="btn btn-info btn-sm btn-addon w-xs-xs"
                                ng-click="addEmployee()">
                            <i class="fa fa-edit hidden-xs"></i>
                            添加员工
                        </button>
                        <button class="btn btn-success btn-sm btn-addon w-xs-xs"
                                ng-click="editEmployee()"
                                ng-class="{'disabled': null == selectEmployee}">
                            <i class="fa fa-edit hidden-xs"></i>
                            修改员工
                        </button>
                        <button class="btn btn-danger btn-sm btn-addon w-xs-xs"
                                ng-click="delEmployeeOrDelDuty(true)"
                                ng-class="{'disabled': null == selectEmployee}">
                            <i class="fa fa-edit hidden-xs"></i>
                            删除员工
                        </button>
                        <button class="btn btn-success btn-sm btn-addon w-xs-xs"
                                ng-click="editDuty()"
                                ng-class="{'disabled': null == selectEmployee}">
                            <i class="fa fa-edit hidden-xs"></i>
                            职能修改
                        </button>
                        <button class="btn btn-danger btn-sm btn-addon w-xs-xs"
                                ng-click="delEmployeeOrDelDuty(false)"
                                ng-class="{'disabled': null == selectEmployee}">
                            <i class="fa fa-edit hidden-xs"></i>
                            职能移除
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 人员表 -->
        <div class="clearfix panel-body" style="overflow-x: auto;">

            <!-- 网络请求动画 -->
            <div cg-busy="{promise:loadDataPromise,message:'数据加载中...'}"></div>
            <!-- 网络请求动画 -->

            <table st-table="rowCollectionBasic" class="table table-bordered table-striped tb-border">
                <thead>
                <tr>
                    <th>#</th>
                    <th>员工工号</th>
                    <th>登录帐号</th>
                    <th>员工姓名</th>
                    <th>住址</th>
                    <th>邮政编码</th>
                    <th>性别</th>
                    <th>生日</th>
                    <th>电话</th>
                    <th>手机</th>
                    <th>电子邮箱</th>
                    <th>职能</th>
                    <th>状态</th>
                    <th>区域归属</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in employees" class="success cursor-pointer"
                    st-select-row="row" ng-click="toggleSelectEmployee(item)">
                    <th>
                        <label class="checkbox i-checks m-n">
                            <input type="checkbox"
                                   ng-checked="item.id == selectEmployee.id"
                                   ng-click="toggleSelectEmployee(item)">
                            <i></i>
                        </label>
                    </th>
                    <td>{{item.number}}</td>
                    <td>{{item.username}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.address}}</td>
                    <td>{{item.postalcode}}</td>
                    <td>
                        <span ng-if="item.sex === 1">男</span>
                        <span ng-if="item.sex === 2">女</span>
                    </td>
                    <td>{{item.birthday | date}}</td>
                    <td>{{item.tel}}</td>
                    <td>{{item.phone}}</td>
                    <td>{{item.email}}</td>
                    <td>
                        <span ng-if="null == duties || duties.length <= 0">无</span>
                        <span ng-repeat="duty in item.duties">
                            <span ng-if="duty.type == 1">巡线员</span>
                            <span ng-if="duty.type == 2">工程人员</span>
                            <span ng-if="duty.type == 3">核查人员</span>
                        </span>
                    </td>
                    <td>
                        <span ng-if="item.status === 1">正常</span>
                        <span ng-if="item.status === 2">禁用</span>
                        <span ng-if="item.status === 9">删除</span>
                    </td>
                    <td>{{item.departmentName}}</td>
                </tr>

                <tr style="display: block;" ng-style="{'min-height': dividerHeight}"></tr>

                </tbody>
            </table>
        </div>

        <div class="col-xs-12 text-center m-t-xs">
            <pagination boundary-links="true"
                        total-items="total"
                        ng-model="currentPage"
                        class="pagination-sm m-t-none m-b"
                        ng-change="pageChanged()"
                        previous-text="&lsaquo;" next-text="&rsaquo;"
                        first-text="&laquo;" last-text="&raquo;">
            </pagination>
        </div>

        <!-- 人员表 -->

        <!-- add node modal -->
        <script type="text/ng-template" id="addNodeModalContent.html">
            <div ng-include="'tpl/modal/add_node_emp_modal.html'"></div>
        </script>
        <!-- add node modal -->

        <!-- add employee_id modal -->
        <script type="text/ng-template" id="addEmployeeModalContent.html">
            <div ng-include="'tpl/modal/add_emp_modal.html'"></div>
        </script>
        <!-- add employee_id modal -->

        <!-- add employee_id modal -->
        <script type="text/ng-template" id="confirmModalContent.html">
            <div ng-include="'tpl/modal/confirm_modal.html'"></div>
        </script>
        <!-- add employee_id modal -->

    </div>
</div>