<div>
    <div class="panel">
        <div class="panel-heading b-b b-success wrapper-xs">

            <div class="row">
                <div class="col-sm-2">
                    <h5 class="m-xxs l-h-2x">
                        <span class="text-primary">人员列表</span>
                    </h5>
                </div>
                <div class="col-sm-10">
                    <div class="pull-right">
                        <button class="btn btn-info btn-sm btn-addon w-xs-xs"
                                ng-class="{'disabled': !buttonConfig.addNode}"
                                ng-click="addNode()">
                            <i class="fa fa-plus hidden-xs"></i>
                            增加子节点
                        </button>
                        <button class="btn btn-info btn-sm btn-addon w-xs-xs"
                                ng-click="addEmployee()"
                                ng-class="{'disabled': !buttonConfig.addEmployee}">
                            <i class="fa fa-plus hidden-xs"></i>
                            增加人员
                        </button>
                        <button class="btn btn-success btn-sm btn-addon w-xs-xs"
                                ng-click="edit()"
                                ng-class="{'disabled': !buttonConfig.edit}">
                            <i class="fa fa-edit hidden-xs"></i>
                            编辑
                        </button>
                        <button class="btn btn-danger btn-sm btn-addon w-xs-xs"
                                ng-click="delete()"
                                ng-class="{'disabled': !buttonConfig.delete}">
                            <i class="fa fa-trash-o hidden-xs"></i>
                            删除
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 人员表 -->
        <div class="clearfix panel-body">

            <!-- 网络请求动画 -->
            <div cg-busy="{promise:loadDataPromise,message:'数据加载中...'}"></div>
            <!-- 网络请求动画 -->

            <table st-table="rowCollectionBasic" class="table table-bordered table-striped tb-border">
                <thead>
                <tr>
                    <th>#</th>
                    <th>名称</th>
                    <th>类型</th>
                    <th>所辖站点数</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="employe in employeList"
                    class="success"
                    ng-if="employe.visible"
                    st-select-row="row">
                    <th>
                        <label class="checkbox i-checks m-n">
                            <input type="checkbox" ng-checked="employe.id == selectItemId" ng-click="toggleRowSelect(employe.id)"><i></i>
                        </label>
                    </th>
                    <td class="level{{employe.level}}">
                        <i ng-if="employeRootPathList[employe.id] == 1"
                           class="fa fa-caret-down cursor-pointer"
                           ng-click="toggleEmployee(employe.id)">
                        </i>
                        <i ng-class="{
                           'fa fa-flag': employe.type == 'department',
                           'fa fa-male': employe.type == 'employee_id',
                           'text-danger': employe.level == 0,
                           'text-warning': employe.level == 1,
                           'text-info': employe.level == 2,
                           'text-success': employe.level == 3,
                           'text-info-dk': employe.level == 4,
                           'text-primary': employe.level == 5
                           }">
                        </i>
                        <span class="cursor-pointer" ng-click="toggleRowSelect(employe.id)">{{employe.name}}</span>
                    </td>
                    <td>
                        <span ng-if="employe.type == 'department'">{{employe.level}} 级节点</span>
                        <span ng-if="employe.type == 'employee_id'">人员</span>
                    </td>
                    <td>{{employe.deviceCount}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- 人员表 -->

        <!-- add node modal -->
        <script type="text/ng-template" id="addNodeModalContent.html">
            <div ng-include="'tpl/modal/add_node_emp_modal.html'"></div>
        </script>
        <!-- add node modal -->

        <!-- add employee_id modal -->
        <script type="text/ng-template" id="addEmployeeModalContent.html">
            <div ng-include="'tpl/modal/add_emp_modal.html'"></div>
        </script>
        <!-- add employee_id modal -->

        <!-- add employee_id modal -->
        <script type="text/ng-template" id="confirmModalContent.html">
            <div ng-include="'tpl/modal/confirm_modal.html'"></div>
        </script>
        <!-- add employee_id modal -->

    </div>
</div>