<div ng-controller="DeviceDetailCtrl">

    <!--基本信息-->
    <div class="wrapper">

        <div class="b-b m-sm padder-5-b">
            <span class="padder-md b-b b-success b-5x">基本信息</span>
        </div>

        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-xs-5 col-md-4">
                        <img src="img/{{device.id}}.jpg" class="img-full" style="max-width: 140px;margin: 0 auto;">
                    </div>
                    <div class="col-xs-7 col-md-8">
                        <div class="row">
                            <div class="col-md-6">
                                <p class="item dash-border-right dash-border-bottom ">设备名称：<span class="cb">{{device.name}}</span></p>
                                <p class="item dash-border-right dash-border-bottom ">设备编号：<span class="cb">{{device.internal_id}}</span></p>
                                <p class="item dash-border-right dash-border-bottom ">经度：<span class="cb">{{device.lat}}</span></p>
                            </div>
                            <div class="col-md-6">
                                <p class="item dash-border-bottom">设备状态：<span class="cb">{{device.dsplay_status}}</span></p>
                                <p class="item dash-border-bottom">瞬时流量：<span class="cb">{{device.instant}} L/H</span></p>
                                <p class="item dash-border-bottom">累计流量：<span class="cb">{{device.positive_total}} 立方米</span></p>
                                <p class="item dash-border-bottom">设备描述：<span class="cb">{{device.desc}}</span></p>
                                <p class="item dash-border-bottom">纬度：<span class="cb">{{device.lon}}</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="device-news panel panel-success" style="">
                    <div class="panel-heading text-center">
                        站内动态
                    </div>
                    <div class="panel-body panel-primary wrapper-xs">
                        <div class="row text-primary line-xs ">
                            <span class="col-lg-6 wrapper-xs">2016.07.16 12:32</span>
                            <span class="col-lg-6 wrapper-xs">王志东巡检刷卡</span>
                        </div>
                        <div class="row text-danger line-xs">
                            <span class="col-lg-6 wrapper-xs ">2016.07.14 11:42</span>
                            <span class="col-lg-6 wrapper-xs">视频监控异常关机</span>
                        </div>
                        <div class="row text-success line-xs">
                            <span class="col-lg-6 wrapper-xs">2016.07.10 09:23</span>
                            <span class="col-lg-6 wrapper-xs">风机被远程关闭</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="divider divider-md bg-white"></div>
    <!--基本信息-->


    <!--设备控制-->
    <div class="padder-sm m-b-md">
        <div class="b-b m-sm padder-5-b">
            <span class="padder-md b-b b-info b-5x">设备控制</span>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="text-center text-md">
                    <span class="pos-rlt t5"><i class="sprite sprite-u564"></i></span>
                    <span class="m-l-xs">电量计</span>
                    <span class="m-l-md wrapper-xs padder-sm b-a bg-white-only inline" style="min-width: 190px;">2630.28度</span>
                </div>
                <div class="text-center text-md">
                    <span class="pos-rlt t5"><i class="sprite sprite-u570"></i></span>
                    <span class="m-l-xs">水量计</span>
                    <span class="m-l-md wrapper-xs padder-sm b-a bg-white-only inline" style="min-width: 190px;">{{device.positive_total}} 立方米</span>
                </div>
                <div class="hide text-center text-md">
                    <span class="pos-rlt t5"><i class="sprite sprite-u709"></i></span>
                    <span class="m-l-xs">摄像头</span>
                    <span class="m-l-md wrapper-xs padder-sm b-a bg-white-only inline" style="min-width: 190px;">正常</span>
                </div>
                <div class="hide text-center text-md">
                    <span class="pos-rlt t5"><i class="sprite sprite-u719"></i></span>
                    <span class="m-l-xs">考勤机</span>
                    <span class="m-l-md wrapper-xs padder-sm b-a bg-white-only inline" style="min-width: 190px;">正常</span>
                </div>
            </div>
            <div class="col-md-6 b-l-d b-dark no-border-sm no-border-xs">

                <!-- 组件 -->
                <div ng-repeat="comp in device.components" class="text-md">
                    <div class="row" ng-if="comp.type != 'status_sensor'">
                        <div class="col-xs-offset-3 col-sm-offset-4 col-md-offset-3 col-lg-offset-4">
                            <span class="pos-rlt t5">
                                <i class="sprite"
                                   ng-class="{
                                   'sprite-u709' : (comp.type == 'camera_controller'),
                                   'sprite-u564' : (comp.type == 'electricmeter_sensor' || comp.type == 'flowmeter_sensor'),
                                   'sprite-u719' : (comp.type == 'cardreader_sensor'),
                                   'sprite-u628' : (comp.type == 'onboard_controller')
                                   }"
                                   style="width: 32px;display: inline-block;"
                                ></i>
                            </span>
                            <span class="m-l-xs inline w-xxs m-r-xs">{{comp.name}}</span>
                            <span class="inline" ng-if="comp.actions.length > 0">
                                <button class="btn btn-info btn-xs m-r-xs">操作记录</button>
                                <span ng-repeat="action in comp.actions">
                                    <label class="i-switch t5" ng-if="action.operation === 'switch'">
                                        <input type="checkbox" checked>
                                        <i></i>
                                    </label>
                                    <button ng-click="takepick()"
                                            class="btn btn-success btn-xs m-r-xs"
                                            ng-if="action.operation === 'take_photo'">拍照</button>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
                <!-- 组件 -->

                <div class="hide text-md">
                    <div class="row">
                        <div class="col-xs-offset-3 col-sm-offset-4 col-md-offset-3 col-lg-offset-4">
                            <span class="pos-rlt t10"><i class="sprite sprite-u574"></i></span>
                            <span class="m-l-xs m-r-xs">提升水泵</span>
                            <label class="i-switch t5">
                                <input type="checkbox" checked>
                                <i></i>
                            </label>
                            <button class="m-l-md btn btn-info btn-xs">操作记录</button>
                        </div>
                    </div>
                </div>
                <div class="hide text-md">
                    <div class="row">
                        <div class="col-xs-offset-3 col-sm-offset-4 col-md-offset-3 col-lg-offset-4">
                            <span class="pos-rlt t10"><i class="sprite sprite-u574"></i></span>
                            <span class="m-l-xs m-r-xs">应急水泵</span>
                            <label class="i-switch t5">
                                <input type="checkbox" checked>
                                <i></i>
                            </label>
                            <button class="m-l-md btn btn-info btn-xs">操作记录</button>
                        </div>
                    </div>
                </div>
                <div class="hide text-md">
                    <div class="row">
                        <div class="col-xs-offset-3 col-sm-offset-4 col-md-offset-3 col-lg-offset-4">
                            <span class="pos-rlt t10"><i class="sprite sprite-u628"></i></span>
                            <span class="m-l-xs m-r-xs">运行风机</span>
                            <label class="i-switch t5">
                                <input type="checkbox" checked>
                                <i></i>
                            </label>
                            <button class="m-l-md btn btn-info btn-xs">操作记录</button>
                        </div>
                    </div>
                </div>
                <div class="hide text-md">
                    <div class="row">
                        <div class="col-xs-offset-3 col-sm-offset-4 col-md-offset-3 col-lg-offset-4">
                            <span class="pos-rlt t10"><i class="sprite sprite-u628"></i></span>
                            <span class="m-l-xs m-r-xs">备用风机</span>
                            <label class="i-switch t5">
                                <input type="checkbox" checked>
                                <i></i>
                            </label>
                            <button class="m-l-md btn btn-info btn-xs">操作记录</button>
                        </div>
                    </div>
                </div>
                <div class="hide text-md">
                    <div class="row">
                        <div class="col-xs-offset-3 col-sm-offset-4 col-md-offset-3 col-lg-offset-4">
                            <span class="pos-rlt t10"><i class="sprite sprite-u682"></i></span>
                            <span class="m-l-xs m-r-xs">除磷设备</span>
                            <label class="i-switch t5">
                                <input type="checkbox" checked>
                                <i></i>
                            </label>
                            <button class="m-l-md btn btn-info btn-xs">操作记录</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="divider divider-md bg-white"></div>
    <!--设备控制-->

    <!--水量计-->
    <div class="padder-sm m-b-md">
        <div class="b-b m-sm padder-5-b">
            <span class="padder-md b-b b-success b-5x">水量计</span>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading font-bold title">水量计</div>
            <div class="panel-body">
                <highchart config="chartHandlerWater"></highchart>
            </div>
        </div>
    </div>
    <div class="divider divider-md bg-white"></div>
    <!--水量计-->


    <!--电量计-->
    <div class="padder-sm m-b-md">
        <div class="b-b m-sm padder-5-b">
            <span class="padder-md b-b b-info b-5x">电量计</span>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading font-bold title cb">电量计</div>
            <div class="panel-body">
                <highchart config="chartElectric"></highchart>
            </div>
        </div>
    </div>
    <div class="divider divider-md bg-white"></div>
    <!--电量计-->

    <!--水质数据-->
    <div class="padder-sm m-b-md">
        <div class="b-b m-sm padder-5-b">
            <span class="padder-md b-b b-success b-5x">水质数据</span>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading font-bold title">水质数据曲线</div>
            <div class="panel-body">
                <highchart config="chartWaterQ"></highchart>
            </div>
        </div>
    </div>
    <div class="divider divider-md bg-white"></div>
    <!--水质数据-->


    <!--考勤机-->
    <div class="padder-sm m-b-md">
        <div class="b-b m-sm padder-5-b">
            <span class="padder-md b-b b-info b-5x">考勤机</span>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading title">巡检数据表</div>
            <table st-table="rowCollectionBasic" class="table table-bordered table-striped tb-border">
                <thead>
                <tr>
                    <th>巡检时间</th>
                    <th>巡检人</th>
                    <th>电话</th>
                    <th>巡检内容</th>
                </tr>
                </thead>
                <tbody>
                <tr class="success" ng-repeat="row in walk" st-select-row="row">
                    <td>{{row.time}}</td>
                    <td>{{row.name}}</td>
                    <td>{{row.tel}}</td>
                    <td>{{row.content}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="divider divider-md bg-white"></div>
    <!--考勤机-->


    <!--视频监控-->
    <div class="padder-sm m-b-md">
        <div class="b-b m-sm padder-5-b">
            <span class="padder-md b-b b-success b-5x">视频监控</span>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading title">照片采集表</div>
            <div class="row pd5">
                <div class="col-xs-6 col-sm-6 col-lg-6">
                    <table st-table="rowCollectionBasic" class="table table-bordered table-striped tb-border">
                        <thead>
                        <tr>
                            <th>采集时间</th>
                            <th>照片编号</th>
                            <th>照片大小</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="success" ng-repeat="row in walk" st-select-row="row">
                            <td>{{row.time}}</td>
                            <td>{{row.name}}</td>
                            <td>{{row.tel}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-xs-6 col-sm-6 col-lg-6 wrapper-lg">
                    <img class="img-full" src="img/{{device.id}}.jpg" >
                </div>
            </div>
        </div>
    </div>
    <!--视频监控-->


</div>