<!--基本信息-->
<div class="wrapper">
    <div class="row">
        <!-- 网络请求动画 -->
        <div cg-busy="{promise:loadDataPromise,message:'数据加载中...'}"></div>
        <!-- 网络请求动画 -->

        <!-- 图片信息 -->
        <div class="col-md-6">
            <img ng-src="img/{{sensor.sensor_id}}.jpg" class="img-full">
        </div>
        <!-- 图片信息 -->

        <div class="col-md-6">
            <p class="item dash-border-right b-b-dashed b-success m-md">
                <span class="inline w-xs">设备名称：</span>
                <span class="cb">{{sensor.name}}</span>
            </p>
            <p class="item dash-border-right b-b-dashed b-success m-md">
                <span class="inline w-xs">设备编号：</span>
                <span class="cb">{{sensor.internal_id}}</span>
            </p>
            <p class="item dash-border-right b-b-dashed b-success m-md">
                <span class="inline w-xs">站点类型：</span>
                <span class="cb">{{sensor.station_type}}</span>
            </p>
            <p class="item dash-border-right b-b-dashed b-success m-md">
                <span class="inline w-xs">管理员：</span>
                <span class="cb">{{sensor.admin}}</span>
            </p>
            <p class="item b-b-dashed b-success m-md">
                <span class="inline w-xs">联系电话：</span>
                <span class="cb">{{sensor.contact}}</span>
            </p>
        </div>

    </div>

    <div class="row">
        <div class="col-md-6">
            <p class="item b-b-dashed b-success m-md">
                <span class="inline w-xs">信号量：</span>
                <span class="cb">
                    <rating ng-model="sensor.signal" max="32"
                            readonly="true"
                            state-on="'fa fa-star text-success'"
                            state-off="'fa fa-star-o'">
                    </rating>
                </span>
            </p>
            <p class="item b-b-dashed b-success m-md">
                <span class="inline w-xs">投产时间：</span>
                <span class="cb">{{sensor.setup_date}}</span>
            </p>
            <p class="item b-b-dashed b-success m-md">
                <span class="inline w-xs">地址：</span>
                <span class="cb">{{sensor.address}}</span>
            </p>
            <p class="item b-b-dashed b-success m-md">
                <span class="inline w-xs">设备描述：</span>
                <span class="cb">{{sensor.desc}}</span>
            </p>
            <p class="item b-b-dashed b-success m-md">
                <span class="inline w-xs">版本号：</span>
                <span class="cb">
                    <span ng-if="sensor.version <= 0">未知</span>
                    <span ng-if="sensor.version > 0">{{sensor.version |number:1}}</span>
                </span>
            </p>
            <p class="item b-b-dashed b-success m-md">
                <span class="inline w-xs">在线状态：</span>
                <span class="cb">
                    <span ng-if="sensor.online == 0">未知</span>
                    <span ng-if="sensor.online == 1">在线</span>
                    <span ng-if="sensor.online == 2">离线</span>
                    <span ng-if="sensor.online == 3">发呆</span>
                </span>
            </p>
        </div>

        <div class="col-md-6">
            <div class="device-news panel panel-success" style="">
                <div class="panel-heading text-center">
                    站内动态
                </div>
                <div class="panel-body panel-primary wrapper-xs">
                    <div class="row text-primary line-xs ">
                        <span class="col-lg-6 wrapper-xs">2016.07.16 12:32</span>
                        <span class="col-lg-6 wrapper-xs">王志东巡检刷卡</span>
                    </div>
                    <div class="row text-danger line-xs">
                        <span class="col-lg-6 wrapper-xs ">2016.07.14 11:42</span>
                        <span class="col-lg-6 wrapper-xs">视频监控异常关机</span>
                    </div>
                    <div class="row text-success line-xs">
                        <span class="col-lg-6 wrapper-xs">2016.07.10 09:23</span>
                        <span class="col-lg-6 wrapper-xs">风机被远程关闭</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="divider divider-md bg-white"></div>
<!--基本信息-->