<!--水质数据-->
<!--<div class="padder-sm m-b-md">
    <div class="panel panel-default">
        <div class="panel-heading font-bold title">水质数据曲线</div>
        <div class="panel-body">
            &lt;!&ndash; 网络请求动画 &ndash;&gt;
            <div cg-busy="{promise:loadDataPromise,message:'数据加载中...'}"></div>
            &lt;!&ndash; 网络请求动画 &ndash;&gt;
            <highchart config="chartWaterQ"></highchart>
        </div>
    </div>
</div>
<div class="divider divider-md bg-white"></div>-->
<!--水质数据-->


<div class="wrapper device-detail-wrap" ng-controller="DeviceTabWqCtrl">
    <span class="text-lg text-danger m-t block b-b b-success padder">水质数据</span>

    <div class="row">

        <div class="col-sm-3">
            <table class="table table-bordered">
                <caption class="text-center text-primary">NH3-N</caption>
                <tr>
                    <td class="bg-info-only table-lebel">进水口</td>
                    <td class="text-center">
                        <span class="table-value">{{latest.nh3n_in}}</span>
                    </td>
                </tr>
                <tr>
                    <td class="bg-info-only table-lebel">出水口</td>
                    <td class="text-center">
                        <span class="table-value">{{latest.nh3n_out}}</span>
                    </td>
                </tr>
            </table>
        </div>

        <div class="col-sm-3">
            <table class="table table-bordered">
                <caption class="text-center text-primary">总磷</caption>
                <tr>
                    <td class="bg-info-only table-lebel">进水口</td>
                    <td>
                        <span class="table-value">{{latest.total_phosphorus_in}}</span>
                    </td>
                </tr>
                <tr>
                    <td class="bg-info-only table-lebel">出水口</td>
                    <td>
                        <span class="table-value">{{latest.total_phosphorus_out}}</span>
                    </td>
                </tr>
            </table>
        </div>

        <div class="col-sm-3">
            <table class="table table-bordered">
                <caption class="text-center text-primary">COD(mg/l)</caption>
                <tr>
                    <td class="bg-info-only table-lebel">进水口</td>
                    <td>
                        <span class="table-value">{{latest.cod_in}}</span>
                    </td>
                </tr>
                <tr>
                    <td class="bg-info-only table-lebel">出水口</td>
                    <td>
                        <span class="table-value">{{latest.cod_out}}</span>
                    </td>
                </tr>
            </table>
        </div>

        <div class="col-sm-3">
            <table class="table table-bordered">
                <caption class="text-center text-primary">PH</caption>
                <tr>
                    <td class="bg-info-only table-lebel">进水口</td>
                    <td>
                        <span class="table-value">{{latest.ph_in}}</span>
                    </td>
                </tr>
                <tr>
                    <td class="bg-info-only table-lebel">出水口</td>
                    <td class="col-sm-6">
                        <span class="table-value">{{latest.ph_out}}</span>
                    </td>
                </tr>
            </table>
        </div>

    </div>

    <div class="b-2-t b-white wrapper">
        <div class="row b b-dashed b-gray">
            <div class="col-sm-6">
                <div class="panel panel-default m-t">
                    <div class="panel-heading">
                        <span class="text-black">NH3-N</span>
                    </div>
                    <div class="panel-body">
                        <highchart class="h m-t-n-sm box-shadow" config="chartNH3N"></highchart>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-default m-t">
                    <div class="panel-heading">
                        <span class="text-black">总磷</span>
                    </div>
                    <div class="panel-body">
                        <highchart class="h m-t-n-sm box-shadow" config="chartZL"></highchart>
                    </div>
                </div>
            </div>
        </div>

        <div class="row b b-dashed b-gray">
            <div class="col-sm-6">
                <div class="panel panel-default m-t">
                    <div class="panel-heading">
                        <span class="text-black">COD(mg/l)</span>
                    </div>
                    <div class="panel-body">
                        <highchart class="h m-t-n-sm box-shadow" config="chartCOD"></highchart>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="panel panel-default m-t">
                    <div class="panel-heading">
                        <span class="text-black">PH</span>
                    </div>
                    <div class="panel-body">
                        <highchart class="h m-t-n-sm box-shadow" config="chartPH"></highchart>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="wrapper">
        <div ng-show="isInputMode" class="row wrapper">
            <div class="col-sm-3">
                <table class="table text-center light-bd-table table-bordered">
                    <caption class="text-center text-primary">NH3-N</caption>
                    <tr>
                        <td class="bg-info-only v-middle">进水口</td>
                        <td class="w-half">
                            <input class="form-control" type="text" ng-model="wq.nh3n_in">
                        </td>
                    </tr>
                    <tr>
                        <td class="bg-info-only v-middle">出水口</td>
                        <td class="w-half">
                            <input class="form-control" type="text" ng-model="wq.nh3n_out">
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-3">
                <table class=" table text-center table-bordered light-bd-table">
                    <caption class="text-center text-primary">总磷</caption>
                    <tr>
                        <td class="bg-info-only v-middle">进水口</td>
                        <td class="w-half">
                            <input class="form-control" type="text" ng-model="wq.total_phosphorus_in">
                        </td>
                    </tr>
                    <tr>
                        <td class="bg-info-only v-middle">出水口</td>
                        <td class="w-half">
                            <input class="form-control" type="text" ng-model="wq.total_phosphorus_out">
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-3">
                <table class="table table-bordered light-bd-table text-center">
                    <caption class="text-center text-primary">COD(mg/l)</caption>
                    <tr>
                        <td class="bg-info-only v-middle">进水口</td>
                        <td class="w-half">
                            <input class="form-control" type="text" ng-model="wq.cod_in">
                        </td>
                    </tr>
                    <tr>
                        <td class="bg-info-only v-middle">出水口</td>
                        <td class="w-half">
                            <input class="form-control" type="text" ng-model="wq.cod_out">
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-3">
                <table class="table  table-bordered light-bd-table text-center">
                    <caption class="text-center text-primary">PH</caption>
                    <tr>
                        <td class="bg-info-only v-middle">进水口</td>
                        <td class="w-half">
                            <input class="form-control" type="text" ng-model="wq.ph_in">
                        </td>
                    </tr>
                    <tr>
                        <td class="bg-info-only v-middle">出水口</td>
                        <td class="w-half">
                            <input class="form-control" type="text" ng-model="wq.ph_out">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <span class="text-primary">采集时间：{{latest.time}}</span>
        <button type="button" ng-click="submit()" class="btn btn-info btn-addon pull-right m-l">
            <i ng-show="isSubmiting" class="fa fa-spinner" ng-class="{'fa-spin': isSubmiting}" style="background-color: transparent;"></i>
            保存
        </button>
        <button type="button" ng-click="toggleInput()" class="btn btn-info pull-right m-l">
            <span ng-if="!isInputMode">录入</span>
            <span ng-if="isInputMode">完成</span>
        </button>
    </div>

</div>