#deviceSubMenuWrapper {

  padding: 0 5px;

  .nav-tabs > li {
    margin-bottom: 0;
  }

  .nav-tabs > li.active > a {
    border-bottom-color: #00ee00 !important;
  }
  //.nav > li > a:hover, .nav > li > a:focus {
  //  background-color: #dfdfdf;
  //}
}
