.app-login-body {
  background-color: rgba(242, 242, 242, 1);
}

.app-login {
  height: 550px;
  padding-top: 120px;

  .login-form-title {
    font-family: '黑体 Bold', '黑体 Regular', '黑体';
    font-weight: 700;
    font-style: normal;
    font-size: 28px;
    color: rgb(94, 94, 94);
  }

  .powered-by {
    color: #868686;
    display: inline-block;
    padding-top: 10px;
  }
}