.dt-flow {

  .table-bordered td {
    border-color: #99CCCC;
  }

  .table-lebel {
    color: #990000;
  }
  .table-value {
    color: #003399;
  }
  .table-valuefix {
    color: #949494;
  }
}

.btn-option-danger {
  background-color: #CCCCCC;
  &:hover, &.active {
    background-color: #FF6633;
  }
}

.btn-option-info {
  background-color: #CCCCCC;
  &:hover, &.active {
    background-color: #169BD5;
  }
}