.table > tbody > tr .level1 {
  padding-left: 30px;
}
.table > tbody > tr .level2 {
  padding-left: 40px;
}
.table > tbody > tr .level3 {
  padding-left: 50px;
}
.table > tbody > tr .level4 {
  padding-left: 60px;
}
.table > tbody > tr .level5 {
  padding-left: 70px;
}
.table > tbody > tr .level6 {
  padding-left: 80px;
}
.table > tbody > tr .level7 {
  padding-left: 90px;
}
.table > tbody > tr .level8 {
  padding-left: 100px;
}
.table > tbody > tr .level9 {
  padding-left: 110px;
}
.table > tbody > tr .level10 {
  padding-left: 110px;
}
.table > tbody > tr .level11 {
  padding-left: 120px;
}
