.device-detail-wrap .table-bordered td {
  border-color: #99CCCC;
}
.device-detail-wrap .table-lebel {
  color: #990000;
}
.device-detail-wrap .table-value {
  color: #003399;
}
.device-detail-wrap .table-valuefix {
  color: #949494;
}
.btn-option-danger {
  background-color: #CCCCCC;
}
.btn-option-danger:hover,
.btn-option-danger.active {
  background-color: #FF6633;
}
.btn-option-info {
  background-color: #CCCCCC;
}
.btn-option-info:hover,
.btn-option-info.active {
  background-color: #169BD5;
}
.table-device-component thead tr {
  background-color: #D7D7D7;
  border: 1px solid #A1A1A1;
}
.table-device-component thead tr th {
  border: 1px solid #A1A1A1;
  color: #003399;
}
.table-device-component td {
  border: 1px solid #D7D7D7;
  color: #333333;
}
.table-device-component .row-count-1 {
  background-color: #E4E4E4;
}
.table-device-component .row-count-2 {
  background-color: #F2F2F2;
}
