.login {
  background-color: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}
.login .carousel-control {
  display: none;
  visibility: hidden;
}
.login-header {
  height: 80px;
}
.login-title {
  margin-left: 50px;
  margin-top: 16px;
}
.login-carousel {
  height: 100%;
  padding-bottom: 80px;
  position: relative;
  top: 0;
  bottom: 0;
}
.login-carousel .carousel {
  height: 100%;
}
.login-carousel .carousel-inner {
  height: 100%;
}
.login-carousel .carousel-inner * {
  height: 100%;
}
.login-wrapper {
  position: fixed;
  right: 10%;
  top: 30%;
  width: 30%;
  min-width: 342px;
  height: 290px;
}
