#deviceSubMenuWrapper {
  padding: 0 5px;
}
#deviceSubMenuWrapper .nav-tabs > li {
  margin-bottom: 0;
}
#deviceSubMenuWrapper .nav-tabs > li.active > a {
  border-bottom-color: #00ee00 !important;
}
